<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The School System | @ViewBag.Title</title>
    <link href="~/Content/Loader/icon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/CSS/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/CSS/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/CSS/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/CSS/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/CSS/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Loader/spinner.css" rel="stylesheet" />

    <script src="~/Content/Loader/jquery-1.7.1.js"></script>
    
    <script src="~/Content/Loader/loader.js"></script>

    <script src="~/Content/JS/main/jquery.min.js"></script>
    
    <script src="~/Content/JS/main/bootstrap.bundle.min.js"></script>
    <script src="~/Content/JS/plugins/loaders/blockui.min.js"></script>
    <script src="~/Content/JS/plugins/ui/ripple.min.js"></script>
    <script src="~/Content/JS/app.js"></script>
    
</head>
<body>
    <div class="Contentloading" id="LoadingSpinner">Loading&#8230;</div>
    <div class="navbar navbar-expand-md navbar-light navbar-static">
        <!-- Header with logos -->
        <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
            <div class="navbar-brand navbar-brand-md">
                <a href="index.html" class="d-inline-block">
                    <img src="~/Content/images//logo_light.png" alt="">
                </a>
            </div>

            <div class="navbar-brand navbar-brand-xs">
                <a href="index.html" class="d-inline-block">
                    <img src="~/Content/images//logo_icon_light.png" alt="">
                </a>
            </div>
        </div>
        <div class="d-flex flex-1 d-md-none">
            <div class="navbar-brand mr-auto">
                <a href="index.html" class="d-inline-block">
                    <img src="~/Content/images//logo_dark.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content d-flex justify-content-center align-items-center">
                @RenderBody()
            </div>
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; @DateTime.Now.Year. <a href="#">The School System</a> Developed by <a href="#">ZS Software Consultancy (Pvt.) Limited. </a>
                    </span>
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
                        <li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
                        <li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

