<div class="navbar navbar-expand-lg navbar-light">
    <div class="text-center d-lg-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
            <i class="icon-unfold mr-2"></i>
            Footer
        </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-footer">
        <span class="navbar-text">
            &copy; @DateTime.Now.Year. <a href="#">The School System</a> Developed by <a href="#">ZS Software Consultancy (Pvt.) Limited. </a>
        </span>
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item"><a href="#" class="navbar-nav-link"><i class="icon-facebook2 mr-2"></i> Facebook</a></li>
            <li class="nav-item"><a href="#" class="navbar-nav-link"><i class="icon-twitter2 mr-2"></i> Twitter</a></li>
            <li class="nav-item"><a href="#" class="navbar-nav-link"><i class="icon-google-plus2 mr-2"></i> Google Plus</a></li>
            <li class="nav-item"><a href="#" class="navbar-nav-link"><i class="icon-instagram mr-2"></i> Instagram</a></li>
        </ul>
    </div>
</div>
